{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-50">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-image">
                        <img class="rounded-circle img-fluid" width="200" height="200"
                            src="{{ user.profile.profile_pic.url }}">
                    </div>
                </div>
                <div class="col-md-9 mt-3">
                    <div class="profile-settings d-flex">
                        <h1 class="pt-3 font-weight-bold"
                            style="font-family: 'Grand Hotel', cursive;font-size:28px;"><strong>{{ user.username|title }}</strong>
                        </h1>&nbsp;&nbsp;
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#profile">Edit
                            Profile</button>
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#profile"
                            aria-label="profile settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
                    </div>
                    <div class="profile-stats py-5">
                        <div class="d-flex">
                            <i class='fas fa-project-diagram mx-3' style='font-size:18px; color: coral;'>{{project|length}} Project</i>
                            <i class='fas fa-star mx-3' style='font-size:18px; color: coral;'>{{profile.user.follow.all | length}} Ratings</i>
                            <i class='fa-solid fa-bookmark mx-3' style='font-size:18px; color: coral;'>{{profile.user.current_user.all | length}} Projects rated</i>                                
                        </div>
                    </div>
                    <div class="profile-bio">
                        <p style="color:cornflowerblue;font-weight:bold; font-family: 'Grand Hotel', cursive; font-size: 20px;">{{ user.username|upper }}'s
                                bio&nbsp;:&nbsp;
                            {% if user.profile.bio %}
                            {{ user.profile.bio }}
                            {%else%}
                            {{ user.username}} has no bio
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row pt-5">
                <div class="col-md-12">
                    <main>
                        <div class="container text-center">
                            <h1 style="color: coral;text-align: center;font-weight: bold;padding-bottom: 3;">My Projects</h1>
                            <div class="row">
                                {% for project in projects %}
                                <div class="card-columns">
                                    <div class="card border-secondary">
                                        <img class="card-img-top" class="img-responsive"
                                            src="{{project.project_image.url}}" alt="{{project.title}}">
                                    </div>
                                    {% empty %}
                                    <div class="col-md-12 text-center" style="color:cornflowerblue;">
                                        <h2>Profile has no projects</h2>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if profile.user == user %}
                            <p><a href="{% url 'project' %}">Submit Project</a></p>
                            {% endif %}
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="modal fade" id="profile" tabindex="-1" aria-labelledby="profile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content-section pt-4">
                    <div class="media">
                        <img class="rounded-circle account-img" width="100" height="100"
                            src="{{ user.profile.profile_pic.url }}">
                        <div class="media-body pl-2 mt-3">
                            <h2 class="account-heading" style="font-family: 'Grand Hotel', cursive;">{{ user.username }}</h2>
                            <p class="text-primary">{{ user.email }}</p>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            {{ u_form | crispy }}
                            {{ p_form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info">Update profile</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}